.container {
    position: relative;
    padding: 4px 0;
    text-align: left;
    margin-left: 20px;
}

.container .node {
    display: inline-block;
}

.select-all {
    margin-bottom: 10px;
    margin-left: 10px;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.selected-items-container {
    margin-top: 10px;
    flex: 1;
}


.selected-items-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .selected-items-container ul li {
    display: inline-block;
    margin: 5px 5px;
  }
  

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    padding: 5px 8px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    max-width: 300px;
}


/* Responsive Styles */

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
    }

    .selected-items-container {
        width: 100%;
        margin-top: 10px;
        max-height: 400px;
        overflow-y: scroll;
    }

    .card {
        margin: 10px;
    }
    .selected-items-container ul li {
        margin:0;
      }
}

@media (max-width: 480px) {
    .select-all {
        width: 95%;
        text-align: left;
    }

    .card {
        margin: 5px;
    }
}