

html, body{
  font-family: "Source Sans 3", sans-serif;
}
.container {
  position: relative;
  padding: 5px 0;
  text-align: left;
  margin-left: 20px;
}

.container .node {
  display: inline-block;
  padding: 5px;
}

.node-name{
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.node-name:hover{
  opacity: 1;
}

.last-node .node-name {
  cursor: auto;
}

.facet-conatiner {
  margin: 30px;
  padding: 20px 25px 20px 20px;
  display: inline-block; 
  max-width: max-content;
  max-height: 900px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.select-all{
  margin-bottom: 10px;
}


